.transactions-gift {
  padding-top: 8px;
  padding-bottom: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 12px;
  max-width: calc((100% - 16px) / 3);
  background: var(--secondary-bg-color);

  & .gift-animation-box {
    width: 80px;
    height: 80px;
    margin-top: 4px;
  }

  & .name {
    font-size: 12px;
    font-weight: var(--font-weight-regular);
    line-height: 18px;
    color: var(--subtitle-text-color);
    margin-top: 4px;
  }

  & .send {
    display: flex;
    align-items: center;
    font-size: 13px;
    font-weight: var(--font-weight-semibold);
    line-height: 18px;
    color: var(--button-text-color);
    background-color: var(--button-color);
    padding: 6px 16px;
    margin-top: 8px;
    border-radius: 99px;
  }
}