.user-activity-image {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  aspect-ratio: 1;
  border-radius: 10px;
  background-color: var(--secondary-bg-color);

  & img {
    width: 32px;
    height: 32px;
  }

  & svg {
    width: 18px;
    height: 18px;
    position: absolute;
    bottom: -1px;
    right: -3px;

    &.buy .action-icon-bg {
      fill: var(--accent-blue);
    }

    &.send .action-icon-bg {
      fill: var(--accent-purple);
    }

    &.receive .action-icon-bg {
      fill: var(--accent-green);
    }

    & .action-icon-outline {
      fill: var(--app-bg-color);
    }
  }
}